// ***********************************
// VARIABLES
// ***********************************

//bg:
$bg-color: #222 !default;
$bg-color-login: #333 !default;
$fontm: Montserrat, sans-serif !default;
$fontbase: 1rem !default;
$errcolor: #a49d9d !default;
$color-withe: #fff !default;
$border-color: rgba(0, 0, 0, 0.5) !default;
$border-task-color: #727475 !default;
$progress-bar-color-active: #009f1e !default;
$form-focus-shadow-color: #5a5050 !default;
$remove-icon-task-color: #bbb !default;
$remove-icon-color-hover: #a52a2a !default;
$bg-color-card: #bbb !default;
$bg-color-card-body: #343a40 !default;
